node_modules
**/node_modules
bun.lock

dist
build
.tanstack
dev-dist

.git
.gitignore
*.md
README.md

.env
.env.local
.env*.local

.vscode
.idea
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
.nyc_output

.cache
